

img {
  width: 300px;
}

.dates {
  flex-grow: 4;
  margin-top: 80px;
  margin-left: 100px;
}

h1 {
  color: black;
  font-size: 2em;
  text-align: center;
}

p {
  font-size: 1em;
  color: black;
}

h3 {
  color: black;
  text-align: center;
}
